name: Qt Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'

    - name: Configure
      run: cmake -B build -S .

    - name: Build
      run: cmake --build build

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: QtApp
        path: build/
